@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "inter";
  src: url("/fonts/Inter-Regular.ttf");
}

@layer base {
  input select,
  textarea {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    -webkit-touch-callout: text;
    border: none;
    outline: none;
  }

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }
}
